// _variables.scss
//========================

// COLOURS
$grey: #EEE;
$black: #333333;
$green: #ADBE25;
$darkGrey: #666;
$lightGreen: #00529C;
$yellow: #ff9933;
$blue: #00529C;
$pink: #ee1941;
$smokeGrey: #F5F5F5;
$teal: #00A4B9
