<h1>Kerboodle Support <small>Getting Started</small></h1>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/teacher-icon.svg" alt="teacher icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The purchasing teacher receives an email from <strong>no-reply@kerboodle.com</strong> containing an account activitation link and login details. Clicking the link will activate the account. This link only works once.</p>
    </div>
</div>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/teacher-icon.svg" alt="teacher icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The teacher invites the Administrator. The Administrator is the only person who can import student accounts onto Kerboodle. Each school only has one Administrator. View the <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">Teacher walkthrough</a> to learn how to invite the Administrator.</p>
       
    </div>
</div>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/admin-icon.svg" alt="admin icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The Administrator imports all student accounts and invites other teachers to the platform. View the <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?admins','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">Administrator walkthrough</a>.

       
    </div>
</div>


<div class="media menu">
	<div class="media-left">
	    <a href="#">
	         <img src="./img/teacher-icon.svg" alt="teacher icon">
	    </a>
	</div>
	<div class="media-body ">
	   <p class="media-heading">Once the Administrator has imported the students, teachers can organise course access. There are two ways to do this:
	   <ol>
		   	<li>The first option is to create a code to give to your students. Students enter this code on their homepage to gain access.</li>
		   	<li>Alternatively, you can give access to an entire registration group as created by your Administrator.</li>
	   </ol>
	   View the <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">Teacher walkthrough</a>  to learn how to organise course access.
   </p>
	</div>
</div>