<h1>Kerboodle Support <small>Technical</small></h1>
<div class="row-fluid">
    <div class="col-md-6">

        <div class="media menu-center">
            <div class="media-left">
                <a href="login.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
            </div>
            <div class="media-body media-right">
               <a href="login.html"><h3 class="media">Login</h3></a>
            </div>
        </div>

        <div class="media menu-center">
            <div class="media-left">
                <a href="filtering.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
            </div>
            <div class="media-body media-right">
               <a href="filtering.html"><h3 class="media">Filtering</h3></a>
            </div>
        </div>
      </div> <!-- col-md-6 -->

      <div class="col-md-6">

           <div class="media menu-center">
              <div class="media-left">
                     <a href="browser.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
              </div>
              <div class="media-body media-right">
                 <a href="browser.html"><h3 class="media-heading">Browsers</h3></a>
              </div>
          </div>

       </div> <!-- col-md-6 -->
  </div> <!-- row-fluid -->
