    <h1>News</h1>
    <div class="media menu-center">
        <div class="media-left">
            <div class="donut-yellow">
            <h4>
                <span class="month">May</span>
                <span class="day">23rd</span>
            </h4>
          </div>
        </div>
        <div class="media-body media-right ">
           <p class="media-heading"><strong>New support site </strong></p>
           <p>Welcome to the brand new Kerboodle support site!</p><p>To ensure that we continue to provide you with the support and information you need to make the most of your Kerboodle subscriptions, we have been working hard to improve our support site to make it easier for you to find the answers to your questions.</p>
           <p>Take a look around the new layout and make sure to keep an eye on this Newsfeed for news, hints, tips and dates for any upcoming workshop</p>
           <p>Should you want to organise in-school training, please contact one of our Digital Consultants. You can find their details by selecting Free departmental training in the left hand menu.</p>
           <span class="pull-right"><p><strong>Paul Kent</strong></p></span>
        </div>
    </div>
    <div class="media menu-center">
        <div class="media-left">
            <div class="donut-pink">
            <h4>
                <span class="month">May</span>
                <span class="day">11th</span>
            </h4>
        </div>
        </div>
        <div class="media-body media-right ">
           <p class="media-heading"><strong>Get ready for next year</strong></p>
           <p>With the end of the year approaching, you may be starting to think about preparing for next year. Talk to your school’s Administrator about moving your students up to the following year on Kerboodle so that you can hit the ground running in the Autumn term.</p>
           <p>You can find instructions on how to move your students up a year in the <a href="walkthroughs.html">Administrator walkthrough</a>.</p>
           <span class="pull-right"><p><strong>Lucy Huggett</strong></p></span>
        </div>
    </div>
    <div class="media menu-center">
        <div class="media-left">
            <div class="donut-blue">
            <h4>
                <span class="month">May</span>
                <span class="day">1st</span>
            </h4>
        </div>
        </div>
        <div class="media-body media-right ">
           <p class="media-heading"><strong>Use Kerboodle this exam season</strong></p>
           <p>Kerboodle is packed with tools to help you and your students through this exam season.</p>
           <p>You can create your own lesson plans, resources and assessments to suit the revision needs of your students. Simply go to the relevant module within the course, click Create and use the tools available to create your materials.</p>
           <p>You can also share useful resources with your students. Select your resources, click More and select Share content. You can then copy the link that appears into your VLE or in an email to your students.</p>
           <p>The annotation tools in the Kerboodle Book are perfect for independent study. Encourage your students to use these in their revision at home.</p>
           <span class="pull-right"><p><strong>Paul Kent</strong></p></span>
        </div>
    </div>
    <div class="media menu-center">
        <div class="media-left">
            <div class="donut-green">
            <h4>
                <span class="month">Apr</span>
                <span class="day">21st</span>
            </h4>
        </div>
        </div>
        <div class="media-body media-right ">
           <p class="media-heading"><strong>Free departmental training</strong></p>
           <p>If you can’t find the answers to your questions on the support site, please get in contact with our dedicated team of Digital Consultants. Email them your questions or, should you want to talk things through face to face, you can organise for them to come into your school for a free training session.</p>
           <p>You can meet the team and find their contact details here. <a href="http://www.oxfordsecondary.co.uk/digital-consultants">www.oxfordsecondary.co.uk/digital-consultants</a></p>
            <span class="pull-right"><p><strong>Lucy Huggett</strong></p></span>
        </div>
    </div>
    <div class="media menu-center">
        <div class="media-left">
            <div class="donut-yellow">
            <h4>
                <span class="month">Apr</span>
                <span class="day">14th</span>
            </h4>
        </div>
        </div>
        <div class="media-body media-right ">
           <p class="media-heading"><strong>Updates to Kerboodle</strong></p>
           <p>We made some updates to Kerboodle this morning to improve your user experience. We made the following changes:</p>
           <p>
            <ul>
                <li>It is now clearer to differentiate between test and support materials when an assignment is set.</li>
                <li>The formatting has been improved when printing lesson plans. Click on the print icon in the top right hand corner in the Lesson view to print just that screen, and from the top right hand of the Notes tab to print all of the notes at the same time.</li>
                <li>You can now easily scroll through the “My Courses” dropdown menu.</li>  
            </ul>
           </p>
            <span class="pull-right"><p><strong>Lucy Huggett</strong></p></span>
        </div>
    </div>


