<h1>Kerboodle Support <small>FAQs</small></h1>


    <div class="row-fluid"> 
        <div class="col-md-6">
       
            <div class="media menu-center">  
                <div class="media-left">
                    <a href="student.html"><img src="./img/students-icon.svg" alt="student"></a> 
                </div>
                <div class="media-body media-right">
                   <a href="student.html"><h3 class="media">Student</h3></a>
                </div> 
            </div>

            <div class="media menu-center">  
                <div class="media-left">
                    <a href="teacher.html"><img src="./img/teacher-icon.svg" alt="teacher"></a> 
                </div>
                <div class="media-body media-right">
                   <a href="teacher.html"><h3 class="media">Teacher</h3></a>
                </div> 
            </div>




        </div> <!-- col-md-6 -->

        <div class="col-md-6">
                 
             <div class="media menu-center">
                <div class="media-left">
                       <a href=""><img src="./img/admin-icon.svg" alt="walkthrough"></a>  
                </div>
                <div class="media-body media-right">
                   <a href="administrator.html"><h3 class="media-heading">Administrator</h3></a>
                </div>
            </div>

             <div class="media menu-center">
                <div class="media-left">
                       <a href="technical.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>  
                </div>
                <div class="media-body media-right">
                   <a href="technical.html"><h3 class="media-heading">Technical</h3></a>
                </div>
            </div>
        
   		</div> <!-- col-md-6 -->
      </div> <!-- row-fluid -->