<h1>Kerboodle Support <small>Teacher FAQs</small></h1>
   <div class="row-fluid"> 
    <div class="col-md-6">
        
            <div class="media menu-center">
            <div class="media-left">
                <a href="lessons.html">
                   <img src="./img/lessons-icon.svg" alt="walkthrough">  
                </a>
            </div>
            <div class="media-body media-right ">
               <a href="lessons.html"><h3 class="media-heading">Lessons</h3></a>
            </div>
        </div>

  

        <div class="media menu-center">
            <div class="media-left">
                <a href="resources.html">
                   <img src="./img/resources-icon.svg" alt="walkthrough">  
                </a>
            </div>
            <div class="media-body media-right ">
               <a href="resources.html"><h3 class="media-heading">Resources</h3></a>
            </div>
        </div>

        <div class="media menu-center">
            <div class="media-left">
                <a href="assessment.html">
                   <img src="./img/assessment-icon.svg" alt="walkthrough">
                </a>
            </div>
            <div class="media-body media-right ">
                 <a href="assessment.html"><h3 class="media-heading">Assessment</h3></a>
            </div>
        </div>

    </div>  <!-- !span -->

    <div class="col-md-6">
        <div class="media menu-center">
            <div class="media-left">
                <a href="markbook.html">
                   <img src="./img/markbook-icon.svg" alt="walkthrough">  
                </a>
            </div>
            <div class="media-body media-right ">
               <a href="markbook.html"><h3 class="media-heading">Markbook</h3></a>
            </div>
        </div>

        <div class="media menu-center">
            <div class="media-left">
                <a href="digitalbook.html">
                   <img src="./img/digitalbook-icon.svg" alt="walkthrough">  
                </a>
            </div>
            <div class="media-body media-right ">
              <a href="digitalbook.html"><h3 class="media-heading">Digital Book</h3></a>
            </div>
        </div>

        <div class="media menu-center">
            <div class="media-left">
                <a href="usermanagement.html">
                   <img src="./img/usermanagment-icon.svg" alt="walkthrough">  
                </a>
            </div>
            <div class="media-body media-right ">
               <a href="usermanagement.html"><h3 class="media-heading">User Management</h3></a>
            </div>
        </div>
    </div>  <!-- !span -->
</div> <!-- !row -->