<h1>Kerboodle Support <small>Moving students up a year</small></h1>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/admin-icon.svg" alt="admin icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The Administrator archives any students who have left the school. For instructions on how to do this, view the section on archiving students in the <a href="walkthroughs.html">Administrator walkthrough</a>. Please do not delete your students.</p>
    </div>
</div>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/admin-icon.svg" alt="admin icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The Administrator renames the current year groups. For example, Year 11 becomes Year 12. For instructions on how to do this, view the section on moving students up a year in the <a href="">Administrator walkthrough</a>.
       </p>
    </div>
</div>
 <div class="media menu">
    <div class="media-left">
        <a href="#">
             <img src="./img/admin-icon.svg" alt="admin icon">
        </a>
    </div>
    <div class="media-body ">
       <p class="media-heading">The Administrator imports the new Year 7 students. For instructions on how to do this, view the section on creating users and groups in the <a href="./walkthroughs.html">Administrator walkthrough.</a>
       </p>
    </div>
</div>


<div class="media menu">
	<div class="media-left">
	    <a href="#">
	         <img src="./img/teacher-icon.svg" alt="teacher icon">
	    </a>
	</div>
	<div class="media-body ">
	   <p class="media-heading">The teachers organise course access for the new year groups. For instructions on how to do this, view the User Management section of the <a href="./walkthroughs.html">Teacher walkthrough.</a>
      </p>
	</div>
</div>