<h1>Bond Support <small>Free Resources</small></h1>
<p>We are always trying to create useful tools to make the process of using Bond easier. Please see some of our latest additions below.</p>

<!--
    <div class="row-fluid">
        <div class="col-md-6">

            <div class="media menu-center">
                <div class="media-left">
                    <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/sreq/index.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
                </div>
                <div class="media-body media-right">
                   <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/sreq/index.html"><h3 class="media">System Requirements Check</h3></a>
                </div>
            </div>

            <div class="media menu-center">
                <div class="media-left">
                    <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/csv/index.html"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
                </div>
                <div class="media-body media-right">
                   <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/csv/index.html"><h3 class="media">CSV Checker</h3></a>
                </div>
            </div>




          </div> <!-- col-md-6 -->
<!--
          <div class="col-md-6">

               <div class="media menu-center">
                  <div class="media-left">
                         <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/slips/"><img src="./img/tools-icon.svg" alt="walkthrough"></a>
                  </div>
                  <div class="media-body media-right">
                     <a href="http://fdslive.oup.com/www.oup.com/oxed/oxbox-support/tools/slips/"><h3 class="media-heading">Student Slips Generator</h3></a>
                  </div>
              </div>

     		  </div> <!-- col-md-6 -->
      </div> <!-- row-fluid -->
