<h1>Bond Support <small>Home</small></h1>
    <!-- <div class="pull-right"><a href="#menu-toggle" class="btn btn-default pull-right" id="menu-toggle">Menu</a></div> -->
    <div class="media">
        <p>Welcome to the Bond support site. View our walkthroughs to help you navigate Bond. We also have a bank of FAQs to answer your questions.
        If you cannot find the answer to your question, please contact us using the link at the top right of the page.</p>
    </div>

    <div class="row-fluid">
        <div class="col-md-6">

           <div class="media menu-center">
                <div class="media-left">
                      <a href="walkthroughs.html"> <img src="./img/walkthroughs-icon.svg" alt="walkthrough">
                     </a>
                </div>
                <div class="media-body media-right">
                   <a href="walkthroughs.html"><h3 class="media-heading">Walkthroughs</h3></a>
                </div>
            </div>


            <div class="media menu-center">
                <div class="media-left">
                      <a href="gettingstarted.html"> <img src="./img/gettingstarted-icon.svg" alt="walkthrough">
                     </a>
                </div>
                <div class="media-body media-right">
                   <a href="gettingstarted.html"><h3 class="media-heading">Getting started</h3></a>
                </div>
            </div>

        </div> <!-- col-md-6 -->

        <div class="col-md-6">
            <div class="media menu-center">
                <div class="media-left">
                      <a href="graduating.html"> <img src="./img/graduating-icon.svg" alt="walkthrough">
                     </a>
                </div>
                <div class="media-body media-right ">
                   <a href="graduating.html"><h3 class="media-heading">Moving students up a year</h3></a>
                </div>
            </div>

            <div class="media menu-center">
                <div class="media-left">
                    <a href="tools.html"> <img src="./img/tools-icon.svg" alt="tools"> </a>
                </div>
                <div class="media-body media-right ">
                    <a href="http://www.bond11plus.co.uk/component/bond/?view=plogin&redirect=free-resources&Itemid=388"><h3 class="media-heading">Tools</h3></a>
                </div>
            </div>

        </div>


    </div> <!-- row-fluid -->


    <div class="row-fluid">
        <div class="col-md-12">

        <h3>Newsfeed</h3>
            <div class="media menu-center">
                <div id="head-date"class="media-left">
                </div>
            <!-- media-left -->
                <div id="head-text" class="media-body media-right">
                </div><!-- media-body media-right  -->

             </div>
        </div> <!-- col-md-12 -->

    </div> <!-- row-fluid -->





<!--     <div class="media menu-center">
        <div class="media-left">
            <a href="#">
            <div class="donut-pink"></div>
            </a>
        </div>
        <div class="media-body">
           <h3 class="media-heading media-right">Preparing for the new school year?</h3>
        </div>

    </div>

    <div class="media menu-center">
        <div class="media-left">
            <a href="#">
            <div class="donut-green"></div>
            </a>
        </div>
        <div class="media-body media-right">
           <h3 class="media-heading">Blog</h3>
        </div>
    </div> -->
