<h1>Kerboodle Support <small>Walthroughs</small></h1>
<p>View our walkthroughs to help you find your way around Kerboodle. Select your role below and then use the left hand menu to choose the area you what to find out more about.</p>


    <div class="row-fluid"> 
        <div class="col-md-6">
       
            <div class="media menu-center">  
                <div class="media-left">
                    <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><img src="./img/teacher-icon.svg" alt="walkthrough"></a> 
                </div>
                <div class="media-body media-right">
                   <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><h3 class="media">Teachers</h3></a>
                </div> 
            </div>




        </div> <!-- col-md-6 -->

        <div class="col-md-6">
                 
             <div class="media menu-center">
                <div class="media-left">
                       <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?admins','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><img src="./img/admin-icon.svg" alt="walkthrough"></a>  
                </div>
                <div class="media-body media-right">
                   <a href="http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?teachers" onclick="javascript:void window.open('http://fdslive.oup.com/www.oup.com/oxed/techsupport/smh/kerboodle/showMeHow.html?admins','1414686813153','width=1024,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;l"><h3 class="media-heading">Administrators</h3></a>
                </div>
            </div>
        
   		</div> <!-- col-md-6 -->
      </div> <!-- row-fluid -->
