<h1>Kerboodle Support <small>User Management FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who is my Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>If your institution does not already have an Administrator, you will be prompted to invite one when you visit the User Management module. When you invite an Administrator, they will receive an email asking them to activate their account.</p>
        <p>If your school already has an Administrator, you can find out who they are by clicking on your name at the top of the screen. Your Administrator’s details will appear at the bottom of the My Profile window that opens.</p>

        @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I invite an Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<p>The purchasing teacher of the course is the only person who can invite an Administrator.</p>
		<p>Log in to your account using the details sent to you from <strong>no-reply@kerboodle.com</strong>. If you have not seen this email, please check your Junk folder. Go to the User Management module in Kerboodle, where you will be prompted to invite an Administrator if your school does not already have one. Follow the instructions on the screen.</p>
		<p>When choosing your Administrator, we recommend that you select the person in charge of your student data.</p>
    @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do we change our Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Talk to your Administrator about changing the Administrator details in Kerboodle. They can do this by clicking their name at the top of the screen when they are logged in and then changing the details in the pop up that appears.</p>
        <p>If your Administrator is no longer at your institution and you do not have their log in details, please contact us and we will be able to help.</p>
      </div>
    </div>
  </div>


    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I import students on to Kerboodle?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>Only your institution’s Administrator can add students to Kerboodle.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do I organise course access for my students?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>Before organising course access, your Administrator will need to import your students on to Kerboodle.</p>
        <p>Once all of your students have accounts, you can organise course access. There are two ways to do this. You can either create a code for your students to enter when they log in to their accounts, or you can add an entire group as created by your Administrator. We recommend the first option.</p>
         @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>

      <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          How do I create Assignment Groups?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <p>After organising course access, you can create smaller groups for assignment and reporting purposes. These are Assignment groups and existing student users can be in as many of these groups as you like.
        </p>
        <p>Once logged in, go to your chosen course and then go the User Management section. Click Course Access on the left hand side of the screen and select Create an Assignment Group in the pop up that appears. Give your Assignment Group a name and choose the students that you would like to include. Click Save.</p>
        @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>

        <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          How do I move my students up a year?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <p>Speak to your Administrator about moving students up a year. They will find instructions on how to do this in the Administrator walkthrough.</p>
        <p>Once the Administrator has moved your students, you can organise course access following the steps above.</p>
      </div>
    </div>
  </div>


</div> <!-- #/panelgroup -->

