<h1>Kerboodle Support <small>Student FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I gain access to Kerboodle?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>To access Kerboodle, you should have received your login details from your teacher or school administrator. Your login details will consist of a username, password and an institution code.</p>
        <p>If your teacher hasn’t already assigned you to a course then you will be asked to enter a Group Code. You should have received this code from your teacher. Click Enter Group Code and enter the code.</p>
        <p>Once you have confirmed your details, you will be able to see the course on your Home screen. </p>
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What are the different sections in Kerboodle?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<p>Every course is made up of different sections. Your course may contain all or just some of them.</p>
		<p>Within the Lessons, Resources and Practice sections you can use the content and complete tests and activities. Your work will not be saved, and any marks will not go into your markbook.</p>
		<p>Use the folder structure on the left hand side to find the content you are looking for. Alternatively, you can use the Search bar at the top of your screen.</p>
		<p>In the Assessment or Homework you will only see content that your teacher has sent to you. You need to complete this work and hand it in.</p>
		<p>Use the Markbook section to view your marks.</p>
      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Where do I complete my homework?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>In your Assessment or Homework section, you will only see work your teacher has sent to you. There are four filters in the top left of your screen to help you find your work.</p>
        <p>Click on the title of the assignment you want to look at. The work you need to do will be in the top right corner of the box that opens under the title Test Material. Click on the work to open it. Look out for any special instructions from your teacher, which will be displayed under Assignment Info</p>
        <p>If it is an interactive piece of work you need to complete it on-screen. You must click on Submit at the end of your work to make sure your work gets marked.</p>
        <p>If the assignment is not interactive, something like a Word file, PDF or PowerPoint will open. You need to follow the instructions and complete your work in a suitable way.</p>
        <p>You can choose to upload the work online, or you may be able to give it in by hand.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I hand in my work?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>If the work is interactive, it will automatically be handed in by the system.</p>
        <p>Otherwise, you can upload your piece of work, or give it in by hand. Your teacher may have left particular instructions, so look out for them.</p>
        <p>To submit your work online, you need to be in your Assessment or Homework section of the right course. Click on the title of the work, which will open the assignment window. To the bottom left is a box called Your Work, and in here is an Upload button. Click on this button, then choose and open your file. It should now be listed under Your Work.</p>
        <p>You now have two options:
        	<ul>
        		<li>Save and Close will save your work, but it will NOT send it to your teacher. If you choose this option, you must go back at some point and click Submit, or you will miss your deadline.</li>
        		<li>Submit will save your work and send it to your teacher. You cannot make any changes to it after this point.</li>
        	</ul>
        </p>
      </div>
    </div>
  </div>

      <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do I view my marks?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>Use the Markbook to view your marks. Use the filters on the left hand side to find your work. Alternatively, you can use the Search bar.
        </p>
      </div>
    </div>
  </div>

        <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What do the buttons in the Digital Book screen do?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
    	<p><strong>A: </strong>This is an explanation of each of the buttons, from left to right along the Digital Book toolbar.</p>
    	<p><br><img src='/img/forward-back.jpg' alt='forward and back' ><br/> Backward and Forward - these will move you page by page through the book</p>
    	<p><br><img src='/img/resources.jpg' alt='Resources' ><br/> Resources - this gives quick access to any additional resources that relate to this Digital Book</p>
    	<p><br><img src='img/notes.jpg' alt='Notebook' ><br/> Notes - a place to write and save personal notes</p>
    	<p><br><img src='/img/bookmark.jpg' alt='Bookmarks' ><br/> Bookmarks - use this tool to create a quick link to particular pages</p>
    	<p><br><img src='/img/whiteboard-tools.jpg' alt='Whiteboard tools' ><br/> Whiteboard Tools - make use of a pen, highlighter, sticky notes and a spotlight tool. Save, and hide or reveal your annotations</p>
    	<p><br><img src='/img/spread-view.jpg' alt='single/spread view' ><br/> Single page/Double page view - click on either of these to display just a single page at a time, or to display a spread at a time</p>
    	<p><br><img src='/img/zoom.jpg' alt='Zoom' ><br/> Zoom in/Zoom out - click the plus to zoom in, the minus to zoom out. Once zoomed in, click on the book page and drag to reposition</p>
		<p><br><img src='/img/fullscreen.jpg' alt='Full screen' ><br/> Fullscreen - click on this to cancel the zoom</p>
		<p><br><img src='/img/contents.jpg' alt='Contents' ><br/> Table of Contents - clicking on a link within the table of contents will jump you to that point in the book</p>
		<p><br><img src='/img/go-to.jpg' alt='Go to Page' ><br/> Go to Page - enter a number and hit return (or equivalent button) on your keyboard to jump to any page in the book</p>
		<p><br><img src='/img/forward-back.jpg' alt='forward and back' ><br/> Backward and Forward - these will move you page by page through the book</p>
      </div>
    </div>
  </div>


</div> <!-- #/panelgroup -->

