<h1>Kerboodle Support <small>Administrator FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who is my Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>If your institution does not already have an Administrator, you will be prompted to invite one when you visit the User Management module. When you invite an Administrator, they will receive an email asking them to activate their account.</p>
        <p>If your school already has an Administrator, you can find out who they are by clicking on your name at the top of the screen. Your Administrator’s details will appear at the bottom of the My Profile window that opens. </p>
        @@include('./link-adminwalkthrough.html')
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do we change our Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>When signed in as the Administrator, click on your name at the top of the screen. This will to open the My Profile window. Change the details in this window to those of another staff member. Click Save Changes to transfer the login details to the new Administrator. </p>
        <p>If your Administrator has left your institution, and you do not have their login details, <a href="https://global.oup.com/education/help/technical-support/helpdesk-platform?region=uk">contact us</a> and we will be able to help</p>
      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I create students users?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Only the Administrator can create students users. We recommend that you import all your student users by importing a CSV file. </p>
        @@include('./link-adminwalkthrough.html')
        <p>Alternatively, you can create individual students. Go to the School Users tab and click on the New Users drop down button. Here you can create Teachers and Students. Select Student, fill in their details and add them to the required group.</p>
        <p>Please note: Registration Groups will either need to be created or imported during the CSV import process before student users can be individually created.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I create teacher users?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>Go to the School Users tab and click on the New Users drop down menu. Here you can create Teachers and Students. Select Teacher, fill in their details and add them to the required course.</p>
        <p>Each new Teacher account requires a unique email address. When you create a teacher account, an email will be sent to their registered address, prompting them to activate their account.</p>
     </div>
    </div>
  </div>

      <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Can I archive users?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>Yes. Both Teacher and Student users can be archived. Archived users can no longer log in to the platform, but all of their annotations, content (teachers only) and marks (students only) can still be accessed.
        </p>
        <p>To archive a user, tick the box to the left of the user’s name, click the More button and then select Archive. A message will appear asking you to confirm that you want to archive the user. Select OK. The user will be moved into the Archived Users filter on the left hand side of your screen.</p>
        <p>Multiple users can be archived at the same time. </p>
        @@include('./link-adminwalkthrough.html')
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          How do I change the Administrator?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <p>Log in to your Administrator account and click on your name at the top of the screen. Change the details in the pop up that appears and click Save
        </p>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          How do I move students up a year?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <p>To move students up a year, you will first need to archive any students who have left the school. Once you have done this, you can rename the remaining year groups. For example, Year 12 will become Year 13. When you have renamed the current year groups, you can import your new Year 7 students.
        </p>
        <p>Once this is completed, teachers can go in and organise course access.</p>
         @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>


</div> <!-- #/panelgroup -->

