<h1>Kerboodle Support <small>Markbook FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Can I run reports?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Yes. You can run three different reports within your Markbook: Student, Group and Diagnostic. Each report can be printed as a PDF document or exported as a CSV file.</p>
        <p>The Student Report allows you to track the performance of individual students across all of their assignments in that course.</p>
        <p>The Group Report allows you to view the average score within the group for each assignment. You can expand the assignment to view the marks for individual students, allowing you to compare performance across the group.</p>
        <p>The Diagnostic Report gives you more detail on question by question achievement in interactive assignments. </p>
        @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>

</div> <!-- #/panelgroup -->

