<h1>Kerboodle Support <small>Assessment FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I assign work to my students?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>You can assign test material to your students within the Assessment module. You can assign the following to your students:</p>
        <ul>
          <li>A single ‘Test’ item</li>
          <li>A single ‘Test’ item with unlimited ‘support’ items</li>
          <li>A single package</li>
        </ul>

        @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I give an Assignment to a sub-set of my class, or to a mixture of students from different classes?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<p>As a one-off, you can add or remove individual students using the student tab in the assignment window. </p>
		<p>However, if this is a group you wish to assign to regularly, you may like to create a new Assignment Group in the User Management module. </p>

    @@include('./link-walkthrough.html')
      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Can I give an extension to an assignment?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Yes. You can find the assignment you have made in the Markbook. Click on the title of the assignment, and then change the due date by clicking on the end date and choosing a new date from the calendar. Click Save to update, and then Save and close, to close the window.</p>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I add my own content?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>To add your own resources, click on Upload at the top left of your screen in the Assessment module. Browse to find the file on your computer or network. Choose a folder in which to place your item, or create a new folder. </p>
        <p>You can find your own content by clicking on the My Assignment Content filter.</p>
        <p>If you want to make any changes, select the item using the tickbox, and click Preview above the list of content. Change the item’s information in the Preview pane that comes up.</p>
        <p>Please note: you cannot add items that are over 5MB in size. Video and audio files cannot be uploaded.</p>
      </div>
    </div>
  </div>

</div> <!-- #/panelgroup -->

