<h1>Kerboodle Support <small>Resources FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I find an item in the Resources module?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Use the folder structure on the left-and side of the screen. Clicking on one of these folders will filter the number of items in the main list to help you find the one you are looking for. </p>
        <p>Alternatively, you can use the Search bar, and/or choose an option from the ‘Advanced’ menu to the right of the Search button.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Can I share content with my students?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
  		<p>Yes. You can create links with the Resources module in Kerboodle to specific pieces of content, or collection of items, so that students don’t have to navigate the menus to find them.</p>

      @@include('./link-walkthrough.html')

      </div>
    </div>
  </div>


  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I add my own content?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>To add your own resources, click on Upload at the top left of your screen in the Resources module. Browse to find the file on your computer or network. Choose a folder in which to place your item, or create a new folder. </p>
        <p>You can find your own content by clicking on the My Plan filter in the Lessons module, My Resources filter in the Resources module and My Assignment Content in the Assessment module.</p>
        <p>If you want to make any changes, select the item using the tickbox, and click Preview above the list of content. Change the item’s information in the Preview pane that comes up.</p>
        <p>Please note: you cannot add items that are over 5MB in size. Video and audio files cannot be uploaded.</p>
      </div>
    </div>
  </div>

  


</div> <!-- #/panelgroup -->

