<h1>Kerboodle Support <small>Filtering FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Which email addresses do I need to whitelist and why?”
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Please add the email addresses <strong>no-reply@kerboodle.com</strong> and <strong>support@kerboodle.com</strong> to your school’s accepted list of emails.</p>
        <p>Every Teacher and Adminstrator will need to activate their accounts before using Kerboodle. If the account is not activated, it cannot be accessed. To do this, you will need to click on a link that we send to you from no-reply@kerboodle.com. Please whitelist this email address to make sure you receive your activation email.</p>
        <p>If you contact us with any questions, you will receive an email from <strong>support@kerboodle.com</strong>. Adding this email to your accepted list of emails will ensure that you receive our response.</p>
        <p>We realise that some emails can be interpreted as spam, so please check your Junk folders for this email before contacting us.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How and why do I need to whitelist certain web URLs?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>We understand that schools need a high level of security when it comes to internet use within a school. Unfortunately some of these security features can sometimes have an effect on the loading of some Kerboodle pages and content. To avoid any potential issues like this you can add the Kerboodle domains and URLs to the school’s web filtering software to exclude them from the filtering process. We try to keep our list as up to date as possible. Please email us at <strong>support@kerboodle.com</strong> and ask for the latest list. If the problems still persist after adding them then please contact your Web Filtering provider to ensure the settings are applied correctly. </p>
        <p>You can run your own tests with the developer tools within certain browsers to see which URLs are being blocked. If you want to find out more information about these developer tools then please click on the links provided below.</p>
        <ul>
          <li><a href="https://developer.chrome.com/devtools">Chrome Developer tools</a></li>
          <li><a href="https://developer.mozilla.org/en/docs/Tools">Firefox Developer tools</a></li>
          <li><a href="http://msdn.microsoft.com/en-us/library/gg130952%28v=vs.85%29.aspx">Internet Explorer Developer tools</a></li>
        </ul>
      </div>
    </div>
  </div>

    <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I get the latest list of domains to whitelist?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>Please email <strong>support@kerboodle.com</strong> and asking for the latest whitelist for domains and emails addresses.</p>
      </div>
    </div>
  </div>
</div> <!-- #/panelgroup -->

  <p>Chrome is a trademark of Google Inc.</p>
  <p>Internet Explorer is a registered trademark of Microsoft Corporation in the United States and/or other countries.</p>
  <p>Mozilla and Firefox are registered trademarks of the Mozilla Foundation.</p>
  <p>Safari is a trademark of Apple Inc., registered in the U.S. and other countries.</p>
