<h1>Kerboodle Support <small>Digital Book FAQs</small></h1>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What do the buttons in the Digital Book screen do?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      <p><strong>A: </strong>This is an explanation of each of the buttons, from left to right along the Digital Book toolbar.</p>
      <p><br><img src='img/forward-back.jpg' alt='forward and back' ><br/> Backward and Forward - these will move you page by page through the book</p>
      <p><br><img src='img/resources.jpg' alt='Resources' ><br/> Resources - this gives quick access to any additional resources that relate to this Digital Book</p>
      <p><br><img src='img/notes.jpg' alt='Notebook' ><br/> Notes - a place to write and save personal notes</p>
      <p><br><img src='img/bookmark.jpg' alt='Bookmarks' ><br/> Bookmarks - use this tool to create a quick link to particular pages</p>
      <p><br><img src='img/whiteboard-tools.jpg' alt='Whiteboard tools' ><br/> Whiteboard Tools - make use of a pen, highlighter, sticky notes and a spotlight tool. Save, and hide or reveal your annotations</p>
      <p><br><img src='img/spread-view.jpg' alt='single/spread view' ><br/> Single page/Double page view - click on either of these to display just a single page at a time, or to display a spread at a time</p>
      <p><br><img src='img/zoom.jpg' alt='Zoom' ><br/> Zoom in/Zoom out - click the plus to zoom in, the minus to zoom out. Once zoomed in, click on the book page and drag to reposition</p>
    <p><br><img src='img/fullscreen.jpg' alt='Full screen' ><br/> Fullscreen - click on this to cancel the zoom</p>
    <p><br><img src='img/contents.jpg' alt='Contents' ><br/> Table of Contents - clicking on a link within the table of contents will jump you to that point in the book</p>
    <p><br><img src='img/go-to.jpg' alt='Go to Page' ><br/> Go to Page - enter a number and hit return (or equivalent button) on your keyboard to jump to any page in the book</p>
      </div>
    </div>
  </div>


</div> <!-- #/panelgroup -->

