<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kerboodle Support</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="tools">  
    <!-- topBanner -->
    @@include('./structure/topBanner.html')
    <!-- /# topBanner -->

    <div id="wrapper">
        <!-- Sidebar -->
        @@include('./structure/leftSidebarNav.html')
        <!-- /# Sidebar -->

        <div id="page-content-wrapper">
                <div class="row">
                    
                    <div class="col-md-9 col-md-offset-1">
                      @@include('./content/article-tools.html')
                    </div> <!-- /#col-md-9 col-md-offset-1 -->
        
                    <div class="col-md-2 hidden-md hidden-xs">
                      @@include('./structure/rightSidebarNav.html')
                    </div> <!-- col-md-2 hidden-sm hidden-xs -->
         
                </div> <!-- /#row -->
        </div><!-- /#page-content-wrapper  -->
    </div><!-- /#wrapper -->


        

    <!-- footer -->
    @@include('./structure/footer.html')
    <!-- /#footer -->


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="js/script.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

   // $(document).ready(function() {
   //  $('.sidebar-nav').clone().removeClass('sidebar-nav').removeClass('hidden-xs').addClass('nav nav-pills nav-stacked').appendTo('.container');
   //  });
    </script>

</body>
</html>